.container {

  text-align: center;
  margin-top: 100px;

}

h1 {

  color: blue;

}

h2 {

  font-size: 50px;
  color: red;

}

button {

  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {

  background-color: darkblue;

}